/* Final Responsive CSS for Home, Skills, Education, Portfolio */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #4E6E81;
    color: #FCFFE7;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(80, 80, 80, .2);
    z-index: 10;
}

.logo {
    color: #F9DBBB;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #2E3840;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #df0303;
}

/* Home */
.home {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 7rem 5% 4rem;
    min-height: 100vh;
    flex-wrap: wrap;
}

.home-content {
    margin-top: 2rem;
    flex: 1 1 400px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #BAD7E9;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #FCFFE7;
    border: 2px solid #FCFFE7;
    border-radius: 8px;
    font-size: 19px;
    color: #2B3467;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-box a:hover {
    color: #FCFFE7;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #FCFFE7;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2B3467;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-img {
    flex: 1 1 300px; /* sudah bagus */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 100%;
    max-width: 450px; /* BESARKAN ukuran maksimum */
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.home-sci {
    margin-top: 30px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    position: relative; /* atau hapus saja jika tidak perlu absolute */
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #FCFFE7;
    border-radius: 50%;
    font-size: 20px;
    color: #FCFFE7;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: #2B3467;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FCFFE7;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #BAD7E9;
}

/* Skills */
.skills {
    background: #2B3467;
    padding: 5rem 5% 7rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-column {
    flex: 1 1 40rem;
}

.skills-column .tittle {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.skills-box .skills-content {
    border: 2px solid #FCFFE7;
    border-radius: .6rem;
    padding: 1rem 1.5rem;
    position: relative;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #1c2142;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress h3 {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 2.5rem;
    border: 2px solid #FCFFE7;
    border-radius: .6rem;
    margin: 1rem 0;
    padding: .5rem;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #FCFFE7;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 85%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

/* Education */
.education {
    background: #1c2142;
    padding: 5rem 5%;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-column {
    flex: 1 1 40rem;
}

.education-box .education-content {
    position: relative;
    border-left: 2px solid #BAD7E9;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.education-content .content {
    border: 2px solid #BAD7E9;
    border-radius: .6rem;
    padding: 1.5rem;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2B3467;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .year {
    font-size: 1.4rem;
    color: #BAD7E9;
    margin-bottom: .5rem;
}

/* Portfolio */
.portofolio {
    background: #2B3467;
    padding: 5rem 5%;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.portofolio-box {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem #BAD7E9;
}

.portofolio-box video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
    display: block;
}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #1c2142);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 1.8rem;
    color: #FCFFE7;
}

.portofolio-layer p {
    font-size: 1rem;
    color: #FCFFE7;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: #FCFFE7;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

     .menu-icon {
        display: block;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 8px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 0.5rem 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
        padding: 6.5rem 1.5rem 3rem;
    }

    .btn-box {
        flex-direction: column;
        width: 100%;
    }

    .btn-box a {
        width: 100%;
    }

    .home-img {
        margin-top: 2rem;
    }

    .home-img img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    }

    .home-sci {
        justify-content: center;
        margin-top: 1.5rem;
    }

    .skills .skills-row,
    .education .education-row {
        flex-direction: column;
    }

    .portofolio-container {
        grid-template-columns: 1fr;
    }
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home-content h1,
.home-content h3,
.home-content p {
    animation: fadeSlide 1s ease forwards;
    opacity: 0;
}

.home-content h1 {
    animation-delay: 0.5s;
}

.home-content h3 {
    animation-delay: 1s;
}

.home-content p {
    animation-delay: 1.5s;
}
/* Final Responsive CSS for Home, Skills, Education, Portfolio */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #4E6E81;
    color: #FCFFE7;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(80, 80, 80, .2);
    z-index: 10;
}

.logo {
    color: #F9DBBB;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #2E3840;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #df0303;
}

/* Home */
.home {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 7rem 5% 4rem;
    min-height: 100vh;
    flex-wrap: wrap;
}

.home-content {
    margin-top: 2rem;
    flex: 1 1 400px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    color: #BAD7E9;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn-box {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #FCFFE7;
    border: 2px solid #FCFFE7;
    border-radius: 8px;
    font-size: 19px;
    color: #2B3467;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-box a:hover {
    color: #FCFFE7;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #FCFFE7;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2B3467;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-img {
    flex: 1 1 300px; /* sudah bagus */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 100%;
    max-width: 450px; /* BESARKAN ukuran maksimum */
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.home-sci {
    margin-top: 30px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    position: relative; /* atau hapus saja jika tidak perlu absolute */
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #FCFFE7;
    border-radius: 50%;
    font-size: 20px;
    color: #FCFFE7;
    text-decoration: none;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: #2B3467;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FCFFE7;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: #BAD7E9;
}

/* Skills */
.skills {
    background: #2B3467;
    padding: 5rem 5% 7rem;
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-column {
    flex: 1 1 40rem;
}

.skills-column .tittle {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.skills-box .skills-content {
    border: 2px solid #FCFFE7;
    border-radius: .6rem;
    padding: 1rem 1.5rem;
    position: relative;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #1c2142;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress h3 {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 2.5rem;
    border: 2px solid #FCFFE7;
    border-radius: .6rem;
    margin: 1rem 0;
    padding: .5rem;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #FCFFE7;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}

/* Education */
.education {
    background: #1c2142;
    padding: 5rem 5%;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-column {
    flex: 1 1 40rem;
}

.education-box .education-content {
    position: relative;
    border-left: 2px solid #BAD7E9;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.education-content .content {
    border: 2px solid #BAD7E9;
    border-radius: .6rem;
    padding: 1.5rem;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2B3467;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .year {
    font-size: 1.4rem;
    color: #BAD7E9;
    margin-bottom: .5rem;
}

/* Portfolio */
.portofolio {
    background: #2B3467;
    padding: 5rem 5%;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.portofolio-box {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem #BAD7E9;
}

.portofolio-box video {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
    display: block;
}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #1c2142);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 1.8rem;
    color: #FCFFE7;
}

.portofolio-layer p {
    font-size: 1rem;
    color: #FCFFE7;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: #FCFFE7;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }

     .menu-icon {
        display: block;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 255, 255, 0.05);
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 8px;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        margin: 0.5rem 0;
    }

    .home {
        flex-direction: column;
        text-align: center;
        padding: 6.5rem 1.5rem 3rem;
    }

    .btn-box {
        flex-direction: column;
        width: 100%;
    }

    .btn-box a {
        width: 100%;
    }

    .home-img {
        margin-top: 2rem;
    }

    .home-img img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    }

    .home-sci {
        justify-content: center;
        margin-top: 1.5rem;
    }

    .skills .skills-row,
    .education .education-row {
        flex-direction: column;
    }

    .portofolio-container {
        grid-template-columns: 1fr;
    }
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.home-content h1,
.home-content h3,
.home-content p {
    animation: fadeSlide 1s ease forwards;
    opacity: 0;
}

.home-content h1 {
    animation-delay: 0.5s;
}

.home-content h3 {
    animation-delay: 1s;
}

.home-content p {
    animation-delay: 1.5s;
}